{% extends 'base.html' %}

{% block content %}
<head>
<style>
body {
  background-image: url('https://wallpapercave.com/wp/wp1966321.jpg');
  background-repeat: no-repeat;
  background-size : 1368px 750px;
}
</style>
</head>
<h1 style="text-align:left;
padding-top:180;
margin-left:7em;
line-height:2"><a style="color:white;text-decoration:none;" href="{% url 'primary' %}"><b>Primary Education</b></a></h1>
<h1 style="text-align:left;
margin-left:7em;
line-height:2"><a style="color:white;text-decoration:none;" href="{% url 'secondary' %}"><b>Secondary Education</b></a></h1>
<h1 style="text-align:left;
margin-left:7em;
line-height:2"><a style="color:white;text-decoration:none;" href="{% url 'higher' %}"><b>Higher Education</b></a></h1>

{% endblock content %}
