<header>
  <a style = "color:white;
  padding-top:8%;
  font-size:18px;
  text-decoration:none;
  margin-left:12em;" href="{% url 'home' %}"><b> HOME </b> </a>
  <a style = "color:white;
  padding-top:5%;
  font-size:18px;
  text-decoration:none;
  margin-left:5em;" href="{% url 'mylife' %}"><b> MY LIFE </b></a>
  <a style = "color:white;
  padding-top:5%;
  font-size:18px;
  text-decoration:none;
  margin-left:5em;" href="{% url 'academics' %}"><b> ACADEMICS  </b></a>
  <a style = "color:white;
  padding-top:5%;
  font-size:18px;
  text-decoration:none;
  margin-left:5em;" href="{% url 'skills' %}"><b> SKILLS  </b></a>
  <a style = "color:white;
  padding-top:5%;
  font-size:18px;
  text-decoration:none;
  margin-left:5em;" href="{% url 'interests' %}"><b> INTERESTS  </b></a>
  <a style = "color:white;
  padding-top:5%;
  font-size:18px;
  text-decoration:none;
  margin-left:5em;
  margin-top:2%;" href="{% url 'dreams' %}"><b> DREAMS  </b></a>
</header>
{% block content %}
{% endblock content %}