{% extends 'base.html' %}

{% block content %}
<head>
<style>
body {
  background-image: url('https://wallpapercave.com/wp/wp8139627.jpg');
  background-repeat: no-repeat;
  background-size : 1370px 680px;
}
</style>
</head>
<h1 style="text-align:left;color:white;padding-top:100;margin-left:5em;"><b>Create an app like Hike</b></h1>                                                                                                                                                                                                          </b></h1>
<h1 style="text-align:left;color:white;padding-top:10;margin-left:5em;"><b>Want to be a classical dancer</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;margin-left:5em;"><b>want to go to Himalayas</b></h1>
{% endblock content %}