{% extends 'base.html' %}

{% block content %}
<head>
<style>
body {
  background-image: url('https://wallpapercave.com/wp/wp1966321.jpg');
  background-repeat: no-repeat;
  background-size : 1368px 750px;
}
</style>
</head>
<h1 style="text-align:left;
color:white;
padding-top:80;
margin-left:7em;" >HIGHER EDUCATION</h1>
<h2 style="text-align:justify;
color:white;
padding-top:10;
margin-left:9em;
margin-right:20em;
line-height:2"><i>I started my Higher Education in<a style="color:yellow;text-decoration:none" href="https://www.srigcsrcollege.org/"> Sri GCSR Degree College, Rajam</a>. I decided to get into the software world and I chose B.Sc Computers. I learnt the basics of HTML, CSS and Javascript languages as a part of my college curriculum. I gained basic programming skills. I passed out my graduation in the year 2018 with a CGPA of 8.56.
</i></h2>
{% endblock content %}