{% extends 'base.html' %}

{% block content %}
<head>
<style>
body {
  background-image: url('https://wallpapercave.com/wp/wp8875239.jpg');
  background-repeat: no-repeat;
  background-size : cover;
}
</style>
</head>
<h1 style="text-align:left;color:white;padding-top:140;margin-left:5em;"><b>Listening Music </b></h1>
<h1 style="text-align:left;color:white;padding-top:10;margin-left:5em;"><b>Sports</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;margin-left:5em;"><b>Gardening</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;margin-left:5em;"><b>Dancing</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;margin-left:5em;"><b>Exploring Food</b></h1>

{% endblock content %}