{% extends 'base.html' %}

{% block content %}
<head>
<style>
body {
  background-image: url('https://wallpapercave.com/wp/wp1966321.jpg');
  background-repeat: no-repeat;
  background-size : 1368px 750px;
}
</style>
</head>
<h1 style="text-align:left;
color:white;
padding-top:80;
margin-left:7em;" >SECONDARY  EDUCATION</h1>
<h2 style="text-align:justify;
color:white;
padding-top:1;
margin-left:9em;
margin-right:20em;
line-height:1.8;"><i>I continued with my Lower Secondary Education in GHS and scored a CGPA of 8.3 in SSC examinations in the year 2013. I was very interested in the subject of Mathematics in my school days. So I chose to take up the MPC stream to continue my Higher Secondary Education. Coming from the Telugu medium, it was very tough for me to get used to the English language in the beginning. But I put extra efforts to cross that language barrier and scored 876 marks in Inter Public Examinations in the year 2015.
    </i></h2><h3 style="text-align:right;
    margin-right:13em;
    color:white;"><i>Go to&ensp; </i><a style="color:white;" href = "{% url 'higher' %}"> HIGHER EDUCATION</a></h3>
{% endblock content %}
