{% extends 'base.html' %}

{% block content %}
<head>
<style>
body {
  background-image: url('https://wallpapercave.com/wp/wp3105550.png');
  background-repeat: no-repeat;
  background-size : 1370px 670px;
}
</style>
</head>
<h1 style="text-align:left;color:white;padding-top:140;word-spacing:18cm;margin-left:7em;margin-right:7em;"><b> HTML Django</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;word-spacing:19cm;margin-left:7em;margin-right:7em;"><b>CSS Python</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;word-spacing:18cm;margin-left:7em;margin-right:7em;"><b>MySql Pandas</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;word-spacing:17cm;margin-left:7em;margin-right:7em;"><b>DBSqlite Numpy</b></h1>
<h1 style="text-align:left;color:white;padding-top:10;word-spacing:16.5cm;margin-left:7em;margin-right:3em;"><b>Javascript Matplotlib</b></h1>

<footer>
<h3 style="text-align:right;
color:white;
padding-top:65;
margin-right:2.5cm;"><i>Go to&ensp;</i><a style="color:white;" href = "{% url 'projects' %}">PROJECTS</a></h3>
</footer>

{% endblock content %}