{% extends 'base.html' %}

{% block content %}
<head>
<style>

body {
  background-image: url('https://wallpapercave.com/wp/wp8778363.jpg');
  background-repeat: no-repeat;
  background-size : 1368px 750px;
}
</style>
</head>
<h1 style="text-align:left;
color:white;
padding-top:80;
margin-left:2em;" >Speech Recognition Project</h1>
<h2 style="text-align:justify;
color:white;
padding-top:10;
margin-left:2.5em;
margin-right:3.5em;
line-height:2;"><i>Speech Recognition Project is developed by using Python which takes the speech as input and translates it into text and open it's web page if the given speech matches the words.
</i></h2>
{% endblock content %}